:host {
  display: block;
  width: fit-content;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 0.5rem;

  h1 {
    font-size: 1.25rem;
    font-weight: 600;
  }
  form {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;

    @media (max-width: 400px) {
      width: 260px;
    }

    ::ng-deep
      mat-form-field
      .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: var(--grey-bg);
    }

    app-button {
      margin-top: 2rem;
      display: flex;
      justify-content: flex-end;
    }
    ::ng-deep mat-form-field .mdc-text-field--filled .mdc-floating-label {
      font-size: 0.75rem;
    }
    ::ng-deep mat-form-field input {
      font-size: 0.75rem;
    }
  }
}
