:host {
  display: flex;
  align-items: flex-start;
  font-size: 0.75rem;
  color: #929292;
  gap: 0.5rem;
  margin-top: 1rem;

  ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1rem;
  }
  li {
    display: flex;
    width: max-content;
    gap: 0.5rem;
    color: #2f80ed;
    cursor: pointer;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: #5ea2ff;
      }
    }
  }
  form {
    display: flex;
    align-items: flex-start;
    margin: 0 auto;
  }
  ::ng-deep mat-form-field {
    width: 9.5rem;
  }

  ::ng-deep .mdc-text-field {
    border-radius: 0.25rem;
  }

  ::ng-deep mat-form-field .mat-mdc-text-field-wrapper {
    background-color: #fff;
    font-size: 0.75rem;
    height: 1.5rem;
  }

  ::ng-deep .mat-mdc-form-field-infix {
    min-height: 12px;
    padding-top: 0;
    padding-bottom: 0;
  }

  ::ng-deep mat-form-field .mdc-text-field--outlined .mat-mdc-form-field-infix,
  .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding-top: 0;
    padding-bottom: 0;
  }

  ::ng-deep
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__leading,
  ::ng-deep
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__notch,
  ::ng-deep
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-width: 0;
  }
  ::ng-deep
    .mdc-text-field--outlined:not(.mdc-text-field--disabled)
    .mdc-notched-outline
    .mdc-notched-outline__trailing {
    border-radius: 0;
  }
}
