/* You can add global styles to this file, and also import other style files */
:root {
  --blue-primary: #2f80ed;
  --blue-secondary: #2f80eda6;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
