/* You can add global styles to this file, and also import other style files */
:root {
  --blue-primary: #2f80ed;
  --blue-secondary: #2f80eda6;
  --black-text: #4f4f4f;
  --grey-bg: #e5e5e5;
  --red-primary: #eb5757;
  --green-primary: #27ae60;
  --green-secondary: #c4ebd4;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--black-text);
}
.mat-typography {
  font: 400 0.75rem / 1.25rem Roboto, sans-serif;
  letter-spacing: 0.031rem;
}
