:host {
  display: block;
}

img {
  width: 14rem;
  margin-bottom: 0.5rem;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14rem;
  background-color: #e5e5e5;
  padding: 1.25rem;
  position: relative;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 2px 2px 4px #0000002b;
  transition: all ease-in-out 0.5s;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      box-shadow: 2px 2px 6px rgb(0 0 0 / 28%);
    }
  }

  .social-row {
    margin-bottom: 0.5rem;
  }

  .item-title {
    height: 3rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 500;
    text-align: right;
    color: #4f4f4f;
    margin-bottom: 2.5rem;
  }

  .underline {
    height: 6px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  &.older-than-six-months .underline {
    background-color: #eb5757;
  }

  &.between-one-and-six-months .underline {
    background-color: #f2c94c;
  }

  &.between-seven-days-and-one-month .underline {
    background-color: #27ae60;
  }

  &.newer-than-seven-days .underline {
    background-color: #2f80ed;
  }
}
