<h1>Create New Card</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput formControlName="title" placeholder="Enter the title" />
    <mat-error *ngIf="form.get('title')?.hasError('required')">
      Please enter a title
    </mat-error>
    <mat-error *ngIf="form.get('title')?.hasError('minlength')">
      The title is too short
    </mat-error>
    <mat-error *ngIf="form.get('title')?.hasError('maxlength')">
      The title is too long
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea
      matInput
      formControlName="description"
      placeholder="Enter a description"
      rows="3"
    ></textarea>
    <mat-error *ngIf="form.get('description')?.hasError('maxlength')">
      The description is too long
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Image</mat-label>
    <input matInput formControlName="imageLink" placeholder="Enter image URL" />
    <mat-error *ngIf="form.get('imageLink')?.hasError('required')">
      Please enter a link to the image
    </mat-error>
    <mat-error *ngIf="form.get('imageLink')?.hasError('invalidImageUrl')">
      The URL is not a valid image link
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Link video</mat-label>
    <input matInput formControlName="videoLink" placeholder="Enter video URL" />
    <mat-error *ngIf="form.get('videoLink')?.hasError('required')">
      Please enter a link to the video
    </mat-error>
    <mat-error *ngIf="form.get('videoLink')?.hasError('invalidVideoUrl')">
      The URL is not a valid video link
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Creation Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="creationDate"
      placeholder="Choose a date"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="form.get('creationDate')?.hasError('required')">
      Please enter a creation date
    </mat-error>
    <mat-error *ngIf="form.get('creationDate')?.hasError('pastDate')">
      The date must be in the past
    </mat-error>
  </mat-form-field>

  <div class="subform">
    <!-- Tags Sub-form -->
    <div formArrayName="tags">
      <div *ngFor="let tag of tags.controls; let i = index" [formGroupName]="i">
        <mat-form-field appearance="fill">
          <mat-label>Tag {{ i + 1 }}</mat-label>
          <input matInput formControlName="name" placeholder="Enter a tag" />
          <mat-error *ngIf="tag.get('name')?.hasError('required')">
            Tag is required
          </mat-error>
        </mat-form-field>
        <button
          mat-icon-button
          *ngIf="tags.length > 1"
          (click)="removeTag(i)"
          type="button"
        >
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>

    <app-button
      (click)="addTag()"
      [disabled]="tags.length >= 5"
      class="button_add"
    >
      Add tag +
    </app-button>
  </div>
  <div class="button-group">
    <app-button type="submit">Create card</app-button>
    <app-button (click)="resetForm()" type="reset">Reset</app-button>
  </div>
</form>
