<button mat-flat-button color="primary" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>

<ng-container *ngIf="video$ | async as video; else loading">
  <div [appCustomClass]="video?.snippet?.publishedAt" class="video-card">
    <div class="video">
      <iframe
        [src]="videoURL | safeUrl"
        width="640"
        height="360"
        frameborder="0"
        frameborder="0"
        allowfullscreen
      >
        ></iframe
      >
    </div>
    <div class="info">
      <div class="text">
        <app-favorite-icon [item]="video"></app-favorite-icon>
        <div class="header-row">
          <h1>
            {{ video?.snippet?.title }}
          </h1>
          <div class="data">
            {{ video?.snippet?.publishedAt | date : "fullDate" }}
          </div>
        </div>
        <div class="desc" *ngIf="video.snippet.description">
          <h2>Description:</h2>
          <p>{{ video?.snippet?.description }}</p>
        </div>
      </div>
      <div class="statistics">
        <app-social-info
          [statistics]="video?.statistics"
          class="social-row"
        ></app-social-info>
        <div class="underline"></div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <p>Loading...</p>
</ng-template>
