:host {
  button {
    border-radius: 0.25rem;
    padding: 0.5rem 1.5rem;
    font-weight: 400;
    font-size: 0.75rem;
    height: 1.5rem;
  }
  .mat-mdc-unelevated-button:not(:disabled) {
    background-color: #2f80ed;
    box-shadow: 2px 0 4px #2f80eda6;
  }
}
